# build output
dist/
.wrangler/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# test auth state
.auth/

# test results
test-results/
*.last-run.json
playwright-report/
coverage/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
/.vs

# IDE/Editor specific
.cursor/
.ai/

# environment variables - test
/.env.test
